form {

	p {
		position: relative;
		max-width: 460px;
		span {
			position:absolute;
			top:0;
			right: 0;
			font-style: italic;
			text-transform: lowercase;
		}
	}

	fieldset {
		border:none;
		padding:0;
		margin:2em 0;
	}

	legend {
		@extend .h1;
		font-weight: normal;
	}

	input {
		background:inherit;
	}	

	input[type="text"] {
		display: block;
		width: 100%;
		margin:0.5em 0;
		padding:0.7em;
		border:1px solid $border-color;
	}

	input[type="radio"],
	input[type="checkbox"] {
		margin-right: 1em;
		margin-top:3px;
		float:left;
	}

	input[type="checkbox"] {
		margin-top:5px;
	}

	.small-input {
		max-width:230px;
		display: block;
		
		label {
			float:left;
		}

		input {
			display: inline-block;	
		}
	}

	.long-label {
		padding-left:1.6em;
		input {
			position:absolute;
			left:0;
			top:0;
		}
	}

	input {
		&.small {
			max-width: 230px;
			float:left;
		}
	}

	a {
		display: block;
		margin-top:1em;
	}

	.form-info {
		font-style: italic;
		font-size:em(14);
	}
}

::-webkit-input-placeholder {
   color: $dark;
}

:-moz-placeholder { /* Firefox 18- */
   color: $dark;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $dark;  
}

:-ms-input-placeholder {  
   color: $dark;  
}