<section class="archive">
	<div class="inner-container">
		<div class="selected-tag meta-tags">
			<span class="first-span">Valgt tag:</span> 
			<span class="tag color-1">Ipsum
				<a href="http://labs.makingwaves.com/personal/havard/fabelaktig/" class="unselect-tag" aria-label="nullstill filter">
					<i class="icon-close"></i>
				</a>
			</span>
		</div>
	</div>

	<div class="inner-container">
		{{> article-teaser}}	
	</div>

	{{> resources }}

	<div class="inner-container">
		{{> article-teaser}}	
	</div>

</section>
