<section class="archive">
	<div class="inner-container">
		<div class="selected-tag"><span class="first-span">Valgt tag:</span> Ipsum<a href="" class="unselect-tag"><i class="icon-close"></i></a></div>
	</div>

	<div class="inner-container">
		{{> article-teaser}}	
	</div>

	{{> resources }}

	<div class="inner-container">
		{{> article-teaser}}	
	</div>

</section>
