<div class="inner-container">
	{{> article-teaser}}	
</div>

{{> resources}}

<div class="inner-container">
	{{> article-teaser}}	
</div>

<div class="inner-container">
	{{> article-teaser}}	
</div>

{{> news-letter}}
