<div class="inner-container">
	{{> article-teaser}}	
</div>

{{> resources}}

<div class="inner-container">
	{{> article-teaser}}	
</div>

<div class="inner-container">
	<div class="two-columns">
		{{> article-teaser}}	
		{{> article-teaser}}	
	</div>
</div>
