<article class="article-teaser" data-th-each="article : ${articles}">
	<a href="article.html">
	    <figure data-test="${article.images}">
	        <img data-th-src="${article.topImage}" src="resources/assets/img/news.jpg" />
	        <div class="meta-tags tag-on-image"><a href="">Tag title</a></div>
	    </figure> 
	    <div class="text-container">
	        <h2 class="heading" data-th-text="${article.title}">Nyheter overskrift</h2>
	        <p data-th-text="${article.preface}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
	    </div>
    </a>
</article>      
