<form>
	<div class="label-container">
		<label>Abonner på nyhetsbrevet vårt</label>	
	</div>
	<div class="form-container">
		<div class="input-container">
			<input type="text" placeholder="Din e-post" />	
		</div>
		<div class="button-container">
			<button class="btn submit" type="submit">GO</button>
		</div>	
	</div>
</form>
