<section class="outer-container news-letter">
	<div class="inner-container">
		<div class="wrapper">
			<form>
				<div class="label-container">
					<label>Abonner på nyhetsbrevet vårt</label>	
				</div>
				<div class="input-container">
					<input type="text" placeholder="Din e-post">	
				</div>
				<div class="button-container">
					<button class="btn submit" type="submit">GO</button>
				</div>
			</form>
		</div>
	</div>
</section>