<aside class="related-articles">
	<h2 class="heading">Relaterte artikler</h2>
	<div class="wrapper">
		<div class="grid-item">
			{{> article-teaser}}
		</div>
		<div class="grid-item">
			{{> article-teaser}}
		</div>
	</div>
</aside>