<div class="outer-container resources">
	<div class="inner-container">
		<div class="grid-item">
			<h2>Relevant ressurs</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			<ul class="meta-tags">
				<li>magna</li>
				<li>enim</li>
				<li>incididunt</li>
			</ul>
		</div>
		<div class="grid-item">
			<h2>Relevant ressurs</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
			<ul class="meta-tags">
				<li>magna</li>
				<li>enim</li>
			</ul>
		</div>
	</div>
</div>