 <footer class="site-footer" data-th-each="content : ${footer.contents}" role="contentinfo">
    <div class="inner-container">
    	<div class="grid-item">
    		<h1 class="heading">Om fabelaktig formidling</h1>
    		<p>Dette er Kopinors side med historier, erfaringer, ideer og verktøy knyttet til formidling.</p>
    		<a class="read-more" href="">Les mer</a>
    		<a class="cookies-desktop" href="">Informasjonskapsler</a>
    	</div>
    	<div class="grid-item">
	    	<div class="news-letter">
	    		{{> news-letter}}	
	    	</div>
    		<a href="">Fabelaktig Formidling på Facebook</a>
    		<a href="">Fabelaktig Formidling på Twitter</a>
    		<a href="">Kopinor</a>
            <a class="cookies-mobile" href="">Informasjonskapsler</a>
    	</div>
    </div>
</footer>