 <footer class="site-footer" data-th-each="content : ${footer.contents}" role="contentinfo">
    <div class="inner-container">
    	<div class="wrapper">
    		<h1 class="heading">Fabelaktig Formidling <span class="visuallyhidden">kontaktinformasjon</span></h1>
    	</div>
    	<div class="wrapper">
    		<div class="grid-item">
	        	<div class="wrapper">
	        		<h2 class="h3">Kontakt oss</h2>
	        		<span>23 10 74 00</span>
	        		<a href="">kopinor@kopinor.no</a>
	        		<a href="">Våre ansatte</a>
	        	</div>
	        </div>
	        <div class="grid-item">
	        	<div class="wrapper">
	        		<h2 class="h3">Besøksadresse</h2>
	        		<span>Stortingsgata 22</span>
	        		<span>0120 Oslo</span>
	        	</div>
	        </div>	
	        <div class="grid-item">
	        	<div class="wrapper">
	        		<h2 class="h3">Postadresse</h2>
	        		<span>Postboks 1663 Vika</span>
	        		<span>0120 Oslo</span>
	        	</div>
	        </div>	
	        <div class="grid-item">
	        	<div class="wrapper">
	        		<h2 class="h3">For presse</h2>
	        		<a href="">Presserom</a>
	        		<a href="">Pressebilder</a>
	        	</div>
	        </div>	
    	</div>
    </div>
</footer>