.article-teaser {
	@include clearfix;
	@include span-columns(12);
	margin-bottom:3em;

	figure {
		margin:0 0 2em 0;
		display: block;
		max-height: 420px;
		overflow: hidden;
		position:relative;
	
		img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}

	.heading {
		font-size:em(28);
		margin-bottom: 0;
	}

	.text-container {
		width: 70%;
		@include media($mobile) {
			width: 100%;
		}
	}

	.two-columns & {
		@include span-columns(6);
		.text-container {
			width: 100%;
		}
	}

	.archive & {
		.meta-tags {
			display: none;
		}
	}
}