.article {
	@include clearfix();
	margin-bottom:6em;
	

	ul {
		margin:1em 2em;
		list-style:initial;
	}


	.preface {
		text-align: center;
		width: 80%;
		margin:0 auto;
		margin-bottom:3em;
		padding-top:em(20);
		p {
			font-size:em(18);
			font-weight: 300;
		}
	}

	.article-container {
		
		figure {
			margin:0 0 2em 0;
			display: block;
			position:relative;
			@include media($tablet-portrait) {
				margin-bottom:1em;
			}
		
			img {
				max-width: 100%;
				width: 100%;
				height: auto;
				max-height: 420px;
				overflow: hidden;
			}

			figcaption {
				font-size:em(13);
				font-weight: bold;
			}
		}

		.article-meta-data {
			@include span-columns(3);
			padding-right:3em;
			padding-top:em(28);
			@include media($tablet-portrait) {
				text-align:center;
				padding:1em 0 0 0;
			}
			.author {
				.author-image {
					width: 120px;
					height: 120px;
					border-radius:50%;
					display: inline-block;
					background:$background-light;
					@include media($tablet-portrait) {
						display: none;
					}
				}
				.author-name {
					width: 120px;
					text-align: center;
					display: inline-block;
					font-weight: bold;
					@include media($tablet-portrait) {
						font-weight: 300;
						color:$fabelaktigblue;
					}
				}
			}

			@include media($tablet-portrait) {
				@include span-columns(12);
				.author {
					border-right:none;
				}
			}
		}

		.article-text {
			@include span-columns(9);
			@include media($tablet-portrait) {
				@include span-columns(12);
			}

			p {
				margin:0.8em 0;
			}

			.heading {
				margin-top:24px;
				margin-top:rem(24);
				margin-bottom:0;
				font-family: 'Open Sans', sans-serif;
			}
			ul {
				font-size: em(15);
			}
		}
	}
}