.meta-tags {
	display:inline-block;
	list-style:none !important;


	li {
		float:left;
	}

	&.on-image {
		position:absolute;
		bottom:0px;
		left:0px;
	}

	&.on-article {
		padding-top:2em;
		margin:0;
		@include media($tablet-portrait) {
			padding-top:1.5em;
		}

		li {
			margin-bottom:0.5em;
			float:none;
		}
	}
}