.meta-tags {

	display:inline-block;

	li {
		float:left;
	}

	&.on-image {
		position:absolute;
		bottom:0px;
		left:0px;
	}

	&.on-article {
		padding-top:2em;
		@include media($tablet-portrait) {
			padding-top:1.5em;
		}
		li {
			margin-bottom:0.5em;
		}
	}
}