.meta-tags {

	display:inline-block;

	li {
		display: inline-block;
		float:left;
	}

	&.on-image {
		position:absolute;
		bottom:-1px;
		left:0;
	}

	&.on-article {
		padding-top:2em;
		li {
			margin-bottom:0.5em;
		}
	}
}