.news-letter {

	@include media($mobile) {
		margin-bottom:em(54);
	}

	.form-container {
		position:relative;
		margin:0.5em 0;
		margin-bottom:2em;
	}

	.input-container {
		width: 100%;
		padding-right:76px;
		input {
			background-color:$white;
			margin:0;
			padding:0 1em;
			line-height: 45px;
			height: 45px;
			width: 100%;
		}
	}

	.button-container {
		position:absolute;
		top:0;
		right:0;
		button {
			width: 60px;
			line-height: 45px;
			padding:0;
		}
	}

	.label-container {
		label {
			@extend .h4;
		}
	}

}