.resources {
	background-color:$background-light;
	margin-bottom:3em;

	@extend .grid-two;

	.archive & {
		@extend .grid-one;

		.grid-item {
			&:first-of-type {
				margin-bottom:3em;
			}
		}

	}

}