.resources {
	background-color:$background-light;
	padding:em(36) 0 em(8);
	margin-bottom:em(70);

	@extend .grid-two;

	.heading {
		font-size: em(20);
		@extend .heading-sans-serif;
		margin:0;
	}

	p {
		margin-top:em(3);
	}

	.archive & {
		@extend .grid-one;

		.grid-item {
			&:first-of-type {
				margin-bottom:3em;
			}
		}

	}

}