.selected-tag {
	margin-bottom:1em;
	text-transform:uppercase;

	.first-span {
		font-weight: bold;
		padding-right: 3em;
		display: inline-block;
		@include media($mobile) {
			padding-right:1.5em;
		}
	}	
	
	i {
		vertical-align: -1px;
	}
}