.site-header {

	.logo-container {
		text-align: center;
		height: 180px;
		width: 183px;
		margin:0 auto;
		margin-bottom:em(56);
	}

	.logo {
		display: block;

		img {
			max-width: 100%;
			height: auto;
			vertical-align: middle;
		}
	}


	.burger {
		display: none;
		position:absolute;
		left:0;
		line-height: em(75);
		a {
			color:$text-color;
			vertical-align: middle;
		}

		@include media($mobile) {
			display: block;
		}
	}
}

