.site-navigation {
	@include clearfix;
	padding:2.5em 0;
	border-top:1px solid $border-color;
	position: relative;

	.main-menu {
		@include clearfix();
		text-align: center;
		text-transform: uppercase;
		padding:0 6em;
		@include media($mobile) {
			text-align: left;
			padding:0;
		}

		li {
			display: inline-block;
			margin:0 0.5em 0.5em 0.5em;

			&.more {
				display: none;
				@include media($mobile) {
					display: inline-block;
				}
			}

			@include media($mobile) {
				display: none;

				&:nth-of-type(1),
				&:nth-of-type(2) {
					display: inline-block;
				}
			}
		}
	}
}