.site-navigation {
	@include clearfix;
	padding:em(30) 0 em(30) 0;
	border-top:1px solid $border-color;
	position: relative;

	.main-menu {
		@include clearfix();
		text-align: center;
		text-transform: uppercase;
		padding:0 6em;
		@include media($mobile) {
			padding:0;
		}

		li {
			display: inline-block;
			margin:0 0.5em 0.5em 0.5em;
			@include media($mobile) {
				margin:0 0.3em 0.3em 0.3em;
			}
		}
	}
}