.site-search {

	.search-trigger {
		position: absolute;
		right: 15px;
		top:em(-19);
		width: em(38);
		height: em(38);
		line-height: em(36);
		background:$white;
		color:$white;
		text-align: center;
		border:1px solid $text-color;
		border-radius:50%;
		i {
			color:$text-color;
			line-height: 36px;
			font-size:1.7em;
		}
	}

}