.site-footer {
	@extend .outer-container;
	background-color:$footer-background;
	margin-top:em(120);
	color:$white;

	@extend .grid-two;

	.grid-item {
		a,
		span {
			display: block;
		}

	}

	p {
		margin:0;
		color:$footer-color;
		font-weight: 300;
		font-size: em(15);
		a {
			display: block;
			margin:0.5em 0;
		}
	}
	a {
		color:$white;
		text-decoration: underline;
		font-size:em(15);
		margin:0.5em 0;
	}

	.heading {
		@extend .h4;
	}

	.editors {
		margin-top:em(60);
		span {
			margin-right:3em;
		}
	}
}