.site-navigation {
	@include clearfix;
	padding:2.5em 0;
	border-top:1px solid $border-color;

	.tag-menu {
		@include clearfix();
		text-align: center;
		text-transform: uppercase;
		@include media($mobile) {
			text-align: left;
		}
		li {
			display: inline-block;
			margin:0 0.5em;

			a {
				font-size: em(15);
				color:$text-color;
			}

			&.more {
				display: none;
				@include media($mobile) {
					display: inline-block;
				}
			}

			@include media($mobile) {
				display: none;

				&:nth-of-type(1),
				&:nth-of-type(2) {
					display: inline-block;
				}
			}
		}
	}
}